html,
body {
  height: 100%;
  background-color:  #090a0f ;
  word-break: break-word;/*chrome*/
  overflow-wrap: anywhere; /* Firefox */
 
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1416px 1929px #fff, 308px 905px #fff, 730px 1945px #fff,
    1075px 62px #fff, 1118px 1370px #fff, 1781px 922px #fff, 1621px 1575px #fff,
    1480px 1456px #fff, 843px 247px #fff, 841px 1816px #fff, 961px 1710px #fff,
    992px 388px #fff, 195px 364px #fff, 1341px 307px #fff, 838px 649px #fff,
    364px 1518px #fff, 1792px 756px #fff, 1805px 1187px #fff, 1218px 1904px #fff,
    1073px 1711px #fff, 978px 1066px #fff, 1513px 80px #fff, 871px 383px #fff,
    649px 652px #fff, 1706px 1979px #fff, 15px 700px #fff, 752px 164px #fff,
    898px 1591px #fff, 1012px 1850px #fff, 1170px 863px #fff, 1280px 771px #fff,
    1993px 1555px #fff, 1644px 406px #fff, 1692px 1268px #fff, 620px 1128px #fff,
    1329px 185px #fff, 1651px 1651px #fff, 887px 1374px #fff, 1809px 1433px #fff,
    1645px 1040px #fff, 1327px 339px #fff, 837px 1309px #fff, 1229px 270px #fff,
    229px 833px #fff, 181px 1480px #fff, 889px 117px #fff, 1037px 1370px #fff,
    383px 681px #fff, 1331px 749px #fff, 1856px 1719px #fff, 1044px 1690px #fff,
    805px 48px #fff, 634px 840px #fff, 1336px 1533px #fff, 1172px 859px #fff,
    36px 1215px #fff, 245px 1140px #fff, 341px 986px #fff, 277px 1450px #fff,
    1951px 1788px #fff, 610px 250px #fff, 427px 1045px #fff, 215px 535px #fff,
    1554px 383px #fff, 555px 1096px #fff, 1754px 1078px #fff, 521px 262px #fff,
    139px 1112px #fff, 1951px 1057px #fff, 735px 1319px #fff, 1958px 569px #fff,
    1546px 1543px #fff, 729px 66px #fff, 1666px 1286px #fff, 1711px 502px #fff,
    7px 686px #fff, 414px 1579px #fff, 199px 1629px #fff, 490px 1893px #fff,
    245px 1015px #fff, 688px 1383px #fff, 1645px 477px #fff, 6px 301px #fff,
    1608px 416px #fff, 217px 1675px #fff, 1555px 1936px #fff, 1983px 1398px #fff,
    957px 567px #fff, 994px 850px #fff, 422px 440px #fff, 1335px 1393px #fff,
    882px 1603px #fff, 513px 1332px #fff, 1184px 646px #fff, 810px 1516px #fff,
    366px 800px #fff, 1839px 1015px #fff, 1353px 1012px #fff, 1250px 1773px #fff,
    546px 1669px #fff, 618px 1656px #fff, 1310px 2000px #fff, 1458px 1650px #fff,
    1056px 1916px #fff, 735px 157px #fff, 246px 1990px #fff, 662px 574px #fff,
    679px 1573px #fff, 203px 460px #fff, 1168px 549px #fff, 1971px 566px #fff,
    1322px 1675px #fff, 351px 1296px #fff, 362px 1981px #fff, 283px 1092px #fff,
    179px 1872px #fff, 775px 992px #fff, 1169px 1694px #fff, 50px 136px #fff,
    256px 720px #fff, 213px 3px #fff, 42px 1874px #fff, 1136px 1064px #fff,
    1918px 1610px #fff, 1106px 951px #fff, 1829px 1087px #fff,
    1218px 1726px #fff, 250px 1828px #fff, 688px 524px #fff, 1132px 179px #fff,
    582px 544px #fff, 1642px 1215px #fff, 626px 247px #fff, 1301px 1810px #fff,
    332px 1167px #fff, 1676px 333px #fff, 1456px 1295px #fff, 506px 808px #fff,
    828px 1125px #fff, 848px 1131px #fff, 1616px 382px #fff, 332px 371px #fff,
    1159px 412px #fff, 733px 678px #fff, 1434px 1341px #fff, 1858px 458px #fff,
    57px 250px #fff, 444px 945px #fff, 1529px 1507px #fff, 1970px 372px #fff,
    475px 1115px #fff, 679px 539px #fff, 1028px 508px #fff, 853px 1994px #fff,
    629px 1266px #fff, 824px 1676px #fff, 1028px 1040px #fff, 64px 1270px #fff,
    362px 81px #fff, 1252px 1348px #fff, 1779px 758px #fff, 450px 1883px #fff,
    706px 792px #fff, 374px 1981px #fff, 606px 580px #fff, 1292px 361px #fff,
    1045px 1240px #fff, 1831px 1964px #fff, 1113px 1133px #fff,
    1581px 1648px #fff, 484px 948px #fff, 871px 17px #fff, 1334px 893px #fff,
    3px 1273px #fff, 1875px 1668px #fff, 966px 656px #fff, 159px 1562px #fff,
    302px 716px #fff, 771px 1345px #fff, 130px 1116px #fff, 827px 954px #fff,
    1089px 803px #fff, 950px 451px #fff, 607px 1370px #fff, 133px 759px #fff,
    1081px 1931px #fff, 1959px 1958px #fff, 492px 1658px #fff,
    1767px 1058px #fff, 1739px 746px #fff, 652px 1710px #fff, 1890px 1066px #fff,
    1970px 1439px #fff, 307px 163px #fff, 1568px 1441px #fff, 47px 1465px #fff,
    219px 1608px #fff, 823px 131px #fff, 718px 290px #fff, 964px 1670px #fff,
    613px 457px #fff, 96px 481px #fff, 830px 1661px #fff, 1875px 1547px #fff,
    1303px 222px #fff, 1238px 118px #fff, 1378px 1861px #fff, 692px 482px #fff,
    608px 616px #fff, 231px 380px #fff, 993px 1013px #fff, 1131px 1044px #fff,
    1346px 820px #fff, 1170px 499px #fff, 1109px 1844px #fff, 1717px 1285px #fff,
    140px 1444px #fff, 1048px 1583px #fff, 1118px 1430px #fff, 270px 272px #fff,
    175px 211px #fff, 1615px 1421px #fff, 130px 1324px #fff, 1557px 173px #fff,
    1215px 1222px #fff, 688px 1936px #fff, 581px 301px #fff, 1453px 498px #fff,
    620px 1834px #fff, 1774px 832px #fff, 399px 1360px #fff, 1325px 802px #fff,
    1158px 755px #fff, 1759px 873px #fff, 499px 921px #fff, 409px 1776px #fff,
    944px 394px #fff, 1603px 440px #fff, 486px 880px #fff, 784px 104px #fff,
    1817px 319px #fff, 323px 1599px #fff, 631px 691px #fff, 1251px 179px #fff,
    1644px 1069px #fff, 1422px 267px #fff, 1541px 1319px #fff,
    1938px 1841px #fff, 1263px 1755px #fff, 1317px 460px #fff, 853px 1132px #fff,
    853px 1826px #fff, 775px 330px #fff, 1273px 193px #fff, 1732px 838px #fff,
    1909px 378px #fff, 569px 1679px #fff, 910px 1385px #fff, 1406px 1241px #fff,
    174px 1902px #fff, 1639px 1684px #fff, 1413px 262px #fff, 178px 1474px #fff,
    1614px 944px #fff, 392px 1629px #fff, 603px 713px #fff, 189px 947px #fff,
    1560px 688px #fff, 180px 1494px #fff, 1088px 113px #fff, 1884px 264px #fff,
    396px 1964px #fff, 942px 1716px #fff, 298px 148px #fff, 618px 834px #fff,
    120px 1251px #fff, 804px 21px #fff, 1800px 1478px #fff, 952px 1556px #fff,
    1721px 844px #fff, 1123px 1242px #fff, 487px 1211px #fff, 1953px 1547px #fff,
    612px 1963px #fff, 163px 526px #fff, 1829px 501px #fff, 190px 174px #fff,
    1653px 1062px #fff, 292px 1385px #fff, 1003px 394px #fff, 391px 683px #fff,
    448px 494px #fff, 1049px 962px #fff, 1737px 1289px #fff, 339px 736px #fff,
    540px 825px #fff, 116px 1472px #fff, 247px 692px #fff, 282px 574px #fff,
    132px 1723px #fff, 1850px 353px #fff, 1793px 503px #fff, 1192px 1526px #fff,
    494px 1359px #fff, 1319px 515px #fff, 1189px 1641px #fff, 1530px 259px #fff,
    1058px 1132px #fff, 635px 170px #fff, 507px 1687px #fff, 832px 1501px #fff,
    216px 273px #fff, 1440px 47px #fff, 963px 1060px #fff, 848px 1656px #fff,
    421px 247px #fff, 1439px 1479px #fff, 987px 414px #fff, 850px 851px #fff,
    1555px 18px #fff, 1113px 818px #fff, 1272px 202px #fff, 1424px 1256px #fff,
    521px 958px #fff, 1502px 1595px #fff, 810px 717px #fff, 734px 1865px #fff,
    777px 1136px #fff, 230px 1977px #fff, 560px 301px #fff, 536px 1578px #fff,
    1794px 116px #fff, 840px 225px #fff, 247px 1043px #fff, 1637px 817px #fff,
    1804px 1293px #fff, 511px 1823px #fff, 493px 1414px #fff, 414px 1131px #fff,
    1283px 1247px #fff, 1602px 1481px #fff, 784px 562px #fff, 437px 1801px #fff,
    660px 721px #fff, 167px 626px #fff, 1102px 1049px #fff, 1672px 276px #fff,
    1860px 858px #fff, 815px 1084px #fff, 81px 752px #fff, 1325px 844px #fff,
    424px 642px #fff, 262px 934px #fff, 1564px 1250px #fff, 507px 405px #fff,
    524px 1228px #fff, 1317px 1000px #fff, 162px 1913px #fff, 1413px 1327px #fff,
    1869px 23px #fff, 1593px 587px #fff, 1707px 1724px #fff, 313px 231px #fff,
    155px 1492px #fff, 72px 731px #fff, 1107px 999px #fff, 537px 1313px #fff,
    606px 886px #fff, 700px 750px #fff, 679px 1910px #fff, 1095px 795px #fff,
    1132px 722px #fff, 1089px 1549px #fff, 197px 1393px #fff, 974px 551px #fff,
    1611px 1242px #fff, 1171px 862px #fff, 1760px 1057px #fff, 153px 1342px #fff,
    476px 1942px #fff, 22px 331px #fff, 58px 1874px #fff, 501px 395px #fff,
    701px 441px #fff, 46px 1119px #fff, 1923px 1022px #fff, 162px 295px #fff,
    403px 1748px #fff, 835px 956px #fff, 1456px 110px #fff, 961px 1001px #fff,
    1933px 429px #fff, 955px 1563px #fff, 1826px 142px #fff, 266px 1887px #fff,
    1609px 847px #fff, 722px 1126px #fff, 157px 1317px #fff, 1530px 1657px #fff,
    1854px 735px #fff, 605px 1559px #fff, 1575px 268px #fff, 589px 1824px #fff,
    855px 306px #fff, 694px 1301px #fff, 944px 383px #fff, 422px 20px #fff,
    169px 688px #fff, 1636px 880px #fff, 133px 1844px #fff, 1863px 1311px #fff,
    1343px 1156px #fff, 1387px 634px #fff, 1926px 383px #fff, 1782px 252px #fff,
    1456px 1219px #fff, 787px 1659px #fff, 1369px 1831px #fff,
    1605px 1760px #fff, 256px 1193px #fff, 1106px 181px #fff, 1327px 1423px #fff,
    1374px 344px #fff, 1197px 1655px #fff, 1393px 1743px #fff, 996px 1655px #fff,
    403px 1688px #fff, 632px 1703px #fff, 1753px 56px #fff, 488px 414px #fff,
    224px 677px #fff, 419px 267px #fff, 1119px 1546px #fff, 655px 209px #fff,
    995px 876px #fff, 637px 645px #fff, 546px 442px #fff, 1336px 1023px #fff,
    480px 1932px #fff, 1392px 1798px #fff, 1030px 984px #fff, 1139px 24px #fff,
    1599px 832px #fff, 1614px 1496px #fff, 94px 684px #fff, 458px 1920px #fff,
    408px 1814px #fff, 1652px 655px #fff, 739px 734px #fff, 779px 436px #fff,
    1548px 1556px #fff, 289px 1607px #fff, 1632px 1114px #fff, 883px 1599px #fff,
    1001px 572px #fff, 268px 1578px #fff, 1696px 845px #fff, 107px 145px #fff,
    1174px 1042px #fff, 1218px 145px #fff, 1909px 1002px #fff, 1915px 151px #fff,
    858px 1429px #fff, 516px 1860px #fff, 512px 411px #fff, 1323px 507px #fff,
    1665px 458px #fff, 756px 1877px #fff, 1359px 550px #fff, 1225px 892px #fff,
    1607px 1725px #fff, 674px 968px #fff, 165px 548px #fff, 1777px 1647px #fff,
    1806px 355px #fff, 1644px 180px #fff, 1379px 996px #fff, 871px 326px #fff,
    1894px 1997px #fff, 881px 1711px #fff, 1762px 858px #fff, 1946px 303px #fff,
    1602px 1429px #fff, 1042px 397px #fff, 1823px 287px #fff, 694px 305px #fff,
    421px 1478px #fff, 1573px 969px #fff, 1471px 309px #fff, 1327px 846px #fff,
    1590px 1255px #fff, 1543px 1401px #fff, 1900px 1236px #fff,
    634px 1531px #fff, 511px 491px #fff, 1169px 1294px #fff, 184px 1281px #fff,
    139px 1251px #fff, 883px 377px #fff, 1536px 639px #fff, 1183px 925px #fff,
    806px 235px #fff, 1088px 696px #fff, 1004px 1441px #fff, 52px 1582px #fff,
    1166px 1415px #fff, 478px 26px #fff, 1147px 1406px #fff, 296px 688px #fff,
    1653px 756px #fff, 1041px 1180px #fff, 766px 394px #fff, 173px 683px #fff,
    1261px 1854px #fff, 48px 86px #fff, 148px 333px #fff, 337px 532px #fff,
    1183px 1624px #fff, 1692px 119px #fff, 1457px 1289px #fff, 816px 1148px #fff,
    1657px 674px #fff, 1918px 1061px #fff, 658px 454px #fff, 664px 607px #fff,
    187px 397px #fff, 116px 1407px #fff, 114px 21px #fff, 1478px 1072px #fff,
    1052px 1283px #fff, 1905px 377px #fff, 404px 567px #fff, 381px 198px #fff,
    19px 1568px #fff, 1362px 511px #fff, 343px 601px #fff, 1607px 1985px #fff,
    1022px 848px #fff, 73px 1300px #fff, 319px 1225px #fff, 984px 199px #fff,
    532px 1102px #fff, 579px 767px #fff, 1051px 1493px #fff, 632px 766px #fff,
    1956px 1458px #fff, 1367px 789px #fff, 1910px 1218px #fff,
    1518px 1998px #fff, 1831px 1134px #fff, 243px 872px #fff, 1909px 425px #fff,
    1256px 351px #fff, 1613px 1205px #fff, 1063px 1146px #fff, 1787px 644px #fff,
    316px 1839px #fff, 1859px 123px #fff, 1215px 1079px #fff, 815px 19px #fff,
    1998px 1911px #fff, 353px 1706px #fff, 710px 492px #fff, 1528px 361px #fff,
    652px 1560px #fff, 1434px 18px #fff, 1093px 1457px #fff, 642px 1313px #fff,
    1330px 1099px #fff, 1554px 1452px #fff, 1976px 404px #fff, 230px 745px #fff,
    1742px 1365px #fff, 303px 755px #fff, 774px 401px #fff, 677px 1548px #fff,
    24px 1586px #fff, 1335px 314px #fff, 962px 978px #fff, 1907px 494px #fff,
    1782px 970px #fff, 1287px 420px #fff, 1148px 1834px #fff, 1390px 1188px #fff,
    469px 1547px #fff, 1015px 1102px #fff, 909px 357px #fff, 1137px 288px #fff,
    674px 1781px #fff, 10px 1004px #fff, 797px 1316px #fff, 284px 1883px #fff,
    993px 727px #fff, 250px 1559px #fff, 263px 1668px #fff, 420px 1338px #fff,
    1368px 475px #fff, 1479px 445px #fff, 1573px 1703px #fff, 229px 513px #fff,
    306px 889px #fff, 1841px 1213px #fff, 1455px 79px #fff, 1266px 81px #fff,
    1619px 571px #fff, 539px 834px #fff, 174px 1180px #fff, 460px 1451px #fff,
    315px 1405px #fff, 391px 919px #fff, 1209px 56px #fff, 712px 903px #fff,
    818px 793px #fff, 1900px 1123px #fff, 1049px 942px #fff, 764px 820px #fff,
    359px 841px #fff, 1987px 875px #fff, 1913px 1770px #fff, 1684px 1760px #fff,
    1638px 704px #fff, 819px 341px #fff, 1972px 257px #fff, 1785px 1850px #fff,
    82px 1367px #fff, 442px 256px #fff, 851px 1966px #fff, 408px 1731px #fff,
    323px 890px #fff, 1380px 301px #fff, 1432px 374px #fff, 523px 1888px #fff,
    1595px 450px #fff, 289px 1191px #fff, 269px 1523px #fff, 787px 656px #fff,
    1818px 1509px #fff, 1163px 1456px #fff, 78px 7px #fff, 1104px 44px #fff,
    135px 244px #fff, 201px 77px #fff, 20px 910px #fff, 202px 1209px #fff,
    1411px 1727px #fff, 1804px 960px #fff, 1549px 1560px #fff, 439px 687px #fff,
    836px 405px #fff, 1422px 852px #fff, 597px 262px #fff, 71px 1389px #fff,
    429px 115px #fff, 1602px 414px #fff, 490px 976px #fff, 790px 1269px #fff,
    868px 1463px #fff, 1418px 884px #fff, 164px 829px #fff, 1352px 1183px #fff,
    1290px 807px #fff, 1113px 1833px #fff, 1953px 738px #fff, 1170px 1863px #fff,
    2000px 1633px #fff, 1501px 749px #fff, 1178px 1639px #fff,
    1200px 1773px #fff, 446px 959px #fff, 1382px 1989px #fff, 232px 85px #fff,
    1898px 1897px #fff, 1743px 1730px #fff, 1613px 347px #fff, 277px 1838px #fff,
    814px 1211px #fff, 1515px 446px #fff, 429px 1508px #fff, 395px 865px #fff,
    1841px 1447px #fff, 197px 28px #fff, 1272px 1501px #fff, 1120px 345px #fff,
    245px 783px #fff, 610px 1280px #fff, 1266px 1372px #fff, 1994px 1967px #fff,
    587px 402px #fff, 99px 363px #fff, 1750px 1414px #fff, 1584px 1233px #fff,
    1689px 1094px #fff, 1091px 792px #fff, 1973px 1573px #fff,
    1967px 1798px #fff, 658px 104px #fff, 1816px 1354px #fff, 1119px 409px #fff,
    1075px 1784px #fff, 1772px 1704px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";

  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1416px 1929px #fff, 308px 905px #fff, 730px 1945px #fff,
    1075px 62px #fff, 1118px 1370px #fff, 1781px 922px #fff, 1621px 1575px #fff,
    1480px 1456px #fff, 843px 247px #fff, 841px 1816px #fff, 961px 1710px #fff,
    992px 388px #fff, 195px 364px #fff, 1341px 307px #fff, 838px 649px #fff,
    364px 1518px #fff, 1792px 756px #fff, 1805px 1187px #fff, 1218px 1904px #fff,
    1073px 1711px #fff, 978px 1066px #fff, 1513px 80px #fff, 871px 383px #fff,
    649px 652px #fff, 1706px 1979px #fff, 15px 700px #fff, 752px 164px #fff,
    898px 1591px #fff, 1012px 1850px #fff, 1170px 863px #fff, 1280px 771px #fff,
    1993px 1555px #fff, 1644px 406px #fff, 1692px 1268px #fff, 620px 1128px #fff,
    1329px 185px #fff, 1651px 1651px #fff, 887px 1374px #fff, 1809px 1433px #fff,
    1645px 1040px #fff, 1327px 339px #fff, 837px 1309px #fff, 1229px 270px #fff,
    229px 833px #fff, 181px 1480px #fff, 889px 117px #fff, 1037px 1370px #fff,
    383px 681px #fff, 1331px 749px #fff, 1856px 1719px #fff, 1044px 1690px #fff,
    805px 48px #fff, 634px 840px #fff, 1336px 1533px #fff, 1172px 859px #fff,
    36px 1215px #fff, 245px 1140px #fff, 341px 986px #fff, 277px 1450px #fff,
    1951px 1788px #fff, 610px 250px #fff, 427px 1045px #fff, 215px 535px #fff,
    1554px 383px #fff, 555px 1096px #fff, 1754px 1078px #fff, 521px 262px #fff,
    139px 1112px #fff, 1951px 1057px #fff, 735px 1319px #fff, 1958px 569px #fff,
    1546px 1543px #fff, 729px 66px #fff, 1666px 1286px #fff, 1711px 502px #fff,
    7px 686px #fff, 414px 1579px #fff, 199px 1629px #fff, 490px 1893px #fff,
    245px 1015px #fff, 688px 1383px #fff, 1645px 477px #fff, 6px 301px #fff,
    1608px 416px #fff, 217px 1675px #fff, 1555px 1936px #fff, 1983px 1398px #fff,
    957px 567px #fff, 994px 850px #fff, 422px 440px #fff, 1335px 1393px #fff,
    882px 1603px #fff, 513px 1332px #fff, 1184px 646px #fff, 810px 1516px #fff,
    366px 800px #fff, 1839px 1015px #fff, 1353px 1012px #fff, 1250px 1773px #fff,
    546px 1669px #fff, 618px 1656px #fff, 1310px 2000px #fff, 1458px 1650px #fff,
    1056px 1916px #fff, 735px 157px #fff, 246px 1990px #fff, 662px 574px #fff,
    679px 1573px #fff, 203px 460px #fff, 1168px 549px #fff, 1971px 566px #fff,
    1322px 1675px #fff, 351px 1296px #fff, 362px 1981px #fff, 283px 1092px #fff,
    179px 1872px #fff, 775px 992px #fff, 1169px 1694px #fff, 50px 136px #fff,
    256px 720px #fff, 213px 3px #fff, 42px 1874px #fff, 1136px 1064px #fff,
    1918px 1610px #fff, 1106px 951px #fff, 1829px 1087px #fff,
    1218px 1726px #fff, 250px 1828px #fff, 688px 524px #fff, 1132px 179px #fff,
    582px 544px #fff, 1642px 1215px #fff, 626px 247px #fff, 1301px 1810px #fff,
    332px 1167px #fff, 1676px 333px #fff, 1456px 1295px #fff, 506px 808px #fff,
    828px 1125px #fff, 848px 1131px #fff, 1616px 382px #fff, 332px 371px #fff,
    1159px 412px #fff, 733px 678px #fff, 1434px 1341px #fff, 1858px 458px #fff,
    57px 250px #fff, 444px 945px #fff, 1529px 1507px #fff, 1970px 372px #fff,
    475px 1115px #fff, 679px 539px #fff, 1028px 508px #fff, 853px 1994px #fff,
    629px 1266px #fff, 824px 1676px #fff, 1028px 1040px #fff, 64px 1270px #fff,
    362px 81px #fff, 1252px 1348px #fff, 1779px 758px #fff, 450px 1883px #fff,
    706px 792px #fff, 374px 1981px #fff, 606px 580px #fff, 1292px 361px #fff,
    1045px 1240px #fff, 1831px 1964px #fff, 1113px 1133px #fff,
    1581px 1648px #fff, 484px 948px #fff, 871px 17px #fff, 1334px 893px #fff,
    3px 1273px #fff, 1875px 1668px #fff, 966px 656px #fff, 159px 1562px #fff,
    302px 716px #fff, 771px 1345px #fff, 130px 1116px #fff, 827px 954px #fff,
    1089px 803px #fff, 950px 451px #fff, 607px 1370px #fff, 133px 759px #fff,
    1081px 1931px #fff, 1959px 1958px #fff, 492px 1658px #fff,
    1767px 1058px #fff, 1739px 746px #fff, 652px 1710px #fff, 1890px 1066px #fff,
    1970px 1439px #fff, 307px 163px #fff, 1568px 1441px #fff, 47px 1465px #fff,
    219px 1608px #fff, 823px 131px #fff, 718px 290px #fff, 964px 1670px #fff,
    613px 457px #fff, 96px 481px #fff, 830px 1661px #fff, 1875px 1547px #fff,
    1303px 222px #fff, 1238px 118px #fff, 1378px 1861px #fff, 692px 482px #fff,
    608px 616px #fff, 231px 380px #fff, 993px 1013px #fff, 1131px 1044px #fff,
    1346px 820px #fff, 1170px 499px #fff, 1109px 1844px #fff, 1717px 1285px #fff,
    140px 1444px #fff, 1048px 1583px #fff, 1118px 1430px #fff, 270px 272px #fff,
    175px 211px #fff, 1615px 1421px #fff, 130px 1324px #fff, 1557px 173px #fff,
    1215px 1222px #fff, 688px 1936px #fff, 581px 301px #fff, 1453px 498px #fff,
    620px 1834px #fff, 1774px 832px #fff, 399px 1360px #fff, 1325px 802px #fff,
    1158px 755px #fff, 1759px 873px #fff, 499px 921px #fff, 409px 1776px #fff,
    944px 394px #fff, 1603px 440px #fff, 486px 880px #fff, 784px 104px #fff,
    1817px 319px #fff, 323px 1599px #fff, 631px 691px #fff, 1251px 179px #fff,
    1644px 1069px #fff, 1422px 267px #fff, 1541px 1319px #fff,
    1938px 1841px #fff, 1263px 1755px #fff, 1317px 460px #fff, 853px 1132px #fff,
    853px 1826px #fff, 775px 330px #fff, 1273px 193px #fff, 1732px 838px #fff,
    1909px 378px #fff, 569px 1679px #fff, 910px 1385px #fff, 1406px 1241px #fff,
    174px 1902px #fff, 1639px 1684px #fff, 1413px 262px #fff, 178px 1474px #fff,
    1614px 944px #fff, 392px 1629px #fff, 603px 713px #fff, 189px 947px #fff,
    1560px 688px #fff, 180px 1494px #fff, 1088px 113px #fff, 1884px 264px #fff,
    396px 1964px #fff, 942px 1716px #fff, 298px 148px #fff, 618px 834px #fff,
    120px 1251px #fff, 804px 21px #fff, 1800px 1478px #fff, 952px 1556px #fff,
    1721px 844px #fff, 1123px 1242px #fff, 487px 1211px #fff, 1953px 1547px #fff,
    612px 1963px #fff, 163px 526px #fff, 1829px 501px #fff, 190px 174px #fff,
    1653px 1062px #fff, 292px 1385px #fff, 1003px 394px #fff, 391px 683px #fff,
    448px 494px #fff, 1049px 962px #fff, 1737px 1289px #fff, 339px 736px #fff,
    540px 825px #fff, 116px 1472px #fff, 247px 692px #fff, 282px 574px #fff,
    132px 1723px #fff, 1850px 353px #fff, 1793px 503px #fff, 1192px 1526px #fff,
    494px 1359px #fff, 1319px 515px #fff, 1189px 1641px #fff, 1530px 259px #fff,
    1058px 1132px #fff, 635px 170px #fff, 507px 1687px #fff, 832px 1501px #fff,
    216px 273px #fff, 1440px 47px #fff, 963px 1060px #fff, 848px 1656px #fff,
    421px 247px #fff, 1439px 1479px #fff, 987px 414px #fff, 850px 851px #fff,
    1555px 18px #fff, 1113px 818px #fff, 1272px 202px #fff, 1424px 1256px #fff,
    521px 958px #fff, 1502px 1595px #fff, 810px 717px #fff, 734px 1865px #fff,
    777px 1136px #fff, 230px 1977px #fff, 560px 301px #fff, 536px 1578px #fff,
    1794px 116px #fff, 840px 225px #fff, 247px 1043px #fff, 1637px 817px #fff,
    1804px 1293px #fff, 511px 1823px #fff, 493px 1414px #fff, 414px 1131px #fff,
    1283px 1247px #fff, 1602px 1481px #fff, 784px 562px #fff, 437px 1801px #fff,
    660px 721px #fff, 167px 626px #fff, 1102px 1049px #fff, 1672px 276px #fff,
    1860px 858px #fff, 815px 1084px #fff, 81px 752px #fff, 1325px 844px #fff,
    424px 642px #fff, 262px 934px #fff, 1564px 1250px #fff, 507px 405px #fff,
    524px 1228px #fff, 1317px 1000px #fff, 162px 1913px #fff, 1413px 1327px #fff,
    1869px 23px #fff, 1593px 587px #fff, 1707px 1724px #fff, 313px 231px #fff,
    155px 1492px #fff, 72px 731px #fff, 1107px 999px #fff, 537px 1313px #fff,
    606px 886px #fff, 700px 750px #fff, 679px 1910px #fff, 1095px 795px #fff,
    1132px 722px #fff, 1089px 1549px #fff, 197px 1393px #fff, 974px 551px #fff,
    1611px 1242px #fff, 1171px 862px #fff, 1760px 1057px #fff, 153px 1342px #fff,
    476px 1942px #fff, 22px 331px #fff, 58px 1874px #fff, 501px 395px #fff,
    701px 441px #fff, 46px 1119px #fff, 1923px 1022px #fff, 162px 295px #fff,
    403px 1748px #fff, 835px 956px #fff, 1456px 110px #fff, 961px 1001px #fff,
    1933px 429px #fff, 955px 1563px #fff, 1826px 142px #fff, 266px 1887px #fff,
    1609px 847px #fff, 722px 1126px #fff, 157px 1317px #fff, 1530px 1657px #fff,
    1854px 735px #fff, 605px 1559px #fff, 1575px 268px #fff, 589px 1824px #fff,
    855px 306px #fff, 694px 1301px #fff, 944px 383px #fff, 422px 20px #fff,
    169px 688px #fff, 1636px 880px #fff, 133px 1844px #fff, 1863px 1311px #fff,
    1343px 1156px #fff, 1387px 634px #fff, 1926px 383px #fff, 1782px 252px #fff,
    1456px 1219px #fff, 787px 1659px #fff, 1369px 1831px #fff,
    1605px 1760px #fff, 256px 1193px #fff, 1106px 181px #fff, 1327px 1423px #fff,
    1374px 344px #fff, 1197px 1655px #fff, 1393px 1743px #fff, 996px 1655px #fff,
    403px 1688px #fff, 632px 1703px #fff, 1753px 56px #fff, 488px 414px #fff,
    224px 677px #fff, 419px 267px #fff, 1119px 1546px #fff, 655px 209px #fff,
    995px 876px #fff, 637px 645px #fff, 546px 442px #fff, 1336px 1023px #fff,
    480px 1932px #fff, 1392px 1798px #fff, 1030px 984px #fff, 1139px 24px #fff,
    1599px 832px #fff, 1614px 1496px #fff, 94px 684px #fff, 458px 1920px #fff,
    408px 1814px #fff, 1652px 655px #fff, 739px 734px #fff, 779px 436px #fff,
    1548px 1556px #fff, 289px 1607px #fff, 1632px 1114px #fff, 883px 1599px #fff,
    1001px 572px #fff, 268px 1578px #fff, 1696px 845px #fff, 107px 145px #fff,
    1174px 1042px #fff, 1218px 145px #fff, 1909px 1002px #fff, 1915px 151px #fff,
    858px 1429px #fff, 516px 1860px #fff, 512px 411px #fff, 1323px 507px #fff,
    1665px 458px #fff, 756px 1877px #fff, 1359px 550px #fff, 1225px 892px #fff,
    1607px 1725px #fff, 674px 968px #fff, 165px 548px #fff, 1777px 1647px #fff,
    1806px 355px #fff, 1644px 180px #fff, 1379px 996px #fff, 871px 326px #fff,
    1894px 1997px #fff, 881px 1711px #fff, 1762px 858px #fff, 1946px 303px #fff,
    1602px 1429px #fff, 1042px 397px #fff, 1823px 287px #fff, 694px 305px #fff,
    421px 1478px #fff, 1573px 969px #fff, 1471px 309px #fff, 1327px 846px #fff,
    1590px 1255px #fff, 1543px 1401px #fff, 1900px 1236px #fff,
    634px 1531px #fff, 511px 491px #fff, 1169px 1294px #fff, 184px 1281px #fff,
    139px 1251px #fff, 883px 377px #fff, 1536px 639px #fff, 1183px 925px #fff,
    806px 235px #fff, 1088px 696px #fff, 1004px 1441px #fff, 52px 1582px #fff,
    1166px 1415px #fff, 478px 26px #fff, 1147px 1406px #fff, 296px 688px #fff,
    1653px 756px #fff, 1041px 1180px #fff, 766px 394px #fff, 173px 683px #fff,
    1261px 1854px #fff, 48px 86px #fff, 148px 333px #fff, 337px 532px #fff,
    1183px 1624px #fff, 1692px 119px #fff, 1457px 1289px #fff, 816px 1148px #fff,
    1657px 674px #fff, 1918px 1061px #fff, 658px 454px #fff, 664px 607px #fff,
    187px 397px #fff, 116px 1407px #fff, 114px 21px #fff, 1478px 1072px #fff,
    1052px 1283px #fff, 1905px 377px #fff, 404px 567px #fff, 381px 198px #fff,
    19px 1568px #fff, 1362px 511px #fff, 343px 601px #fff, 1607px 1985px #fff,
    1022px 848px #fff, 73px 1300px #fff, 319px 1225px #fff, 984px 199px #fff,
    532px 1102px #fff, 579px 767px #fff, 1051px 1493px #fff, 632px 766px #fff,
    1956px 1458px #fff, 1367px 789px #fff, 1910px 1218px #fff,
    1518px 1998px #fff, 1831px 1134px #fff, 243px 872px #fff, 1909px 425px #fff,
    1256px 351px #fff, 1613px 1205px #fff, 1063px 1146px #fff, 1787px 644px #fff,
    316px 1839px #fff, 1859px 123px #fff, 1215px 1079px #fff, 815px 19px #fff,
    1998px 1911px #fff, 353px 1706px #fff, 710px 492px #fff, 1528px 361px #fff,
    652px 1560px #fff, 1434px 18px #fff, 1093px 1457px #fff, 642px 1313px #fff,
    1330px 1099px #fff, 1554px 1452px #fff, 1976px 404px #fff, 230px 745px #fff,
    1742px 1365px #fff, 303px 755px #fff, 774px 401px #fff, 677px 1548px #fff,
    24px 1586px #fff, 1335px 314px #fff, 962px 978px #fff, 1907px 494px #fff,
    1782px 970px #fff, 1287px 420px #fff, 1148px 1834px #fff, 1390px 1188px #fff,
    469px 1547px #fff, 1015px 1102px #fff, 909px 357px #fff, 1137px 288px #fff,
    674px 1781px #fff, 10px 1004px #fff, 797px 1316px #fff, 284px 1883px #fff,
    993px 727px #fff, 250px 1559px #fff, 263px 1668px #fff, 420px 1338px #fff,
    1368px 475px #fff, 1479px 445px #fff, 1573px 1703px #fff, 229px 513px #fff,
    306px 889px #fff, 1841px 1213px #fff, 1455px 79px #fff, 1266px 81px #fff,
    1619px 571px #fff, 539px 834px #fff, 174px 1180px #fff, 460px 1451px #fff,
    315px 1405px #fff, 391px 919px #fff, 1209px 56px #fff, 712px 903px #fff,
    818px 793px #fff, 1900px 1123px #fff, 1049px 942px #fff, 764px 820px #fff,
    359px 841px #fff, 1987px 875px #fff, 1913px 1770px #fff, 1684px 1760px #fff,
    1638px 704px #fff, 819px 341px #fff, 1972px 257px #fff, 1785px 1850px #fff,
    82px 1367px #fff, 442px 256px #fff, 851px 1966px #fff, 408px 1731px #fff,
    323px 890px #fff, 1380px 301px #fff, 1432px 374px #fff, 523px 1888px #fff,
    1595px 450px #fff, 289px 1191px #fff, 269px 1523px #fff, 787px 656px #fff,
    1818px 1509px #fff, 1163px 1456px #fff, 78px 7px #fff, 1104px 44px #fff,
    135px 244px #fff, 201px 77px #fff, 20px 910px #fff, 202px 1209px #fff,
    1411px 1727px #fff, 1804px 960px #fff, 1549px 1560px #fff, 439px 687px #fff,
    836px 405px #fff, 1422px 852px #fff, 597px 262px #fff, 71px 1389px #fff,
    429px 115px #fff, 1602px 414px #fff, 490px 976px #fff, 790px 1269px #fff,
    868px 1463px #fff, 1418px 884px #fff, 164px 829px #fff, 1352px 1183px #fff,
    1290px 807px #fff, 1113px 1833px #fff, 1953px 738px #fff, 1170px 1863px #fff,
    2000px 1633px #fff, 1501px 749px #fff, 1178px 1639px #fff,
    1200px 1773px #fff, 446px 959px #fff, 1382px 1989px #fff, 232px 85px #fff,
    1898px 1897px #fff, 1743px 1730px #fff, 1613px 347px #fff, 277px 1838px #fff,
    814px 1211px #fff, 1515px 446px #fff, 429px 1508px #fff, 395px 865px #fff,
    1841px 1447px #fff, 197px 28px #fff, 1272px 1501px #fff, 1120px 345px #fff,
    245px 783px #fff, 610px 1280px #fff, 1266px 1372px #fff, 1994px 1967px #fff,
    587px 402px #fff, 99px 363px #fff, 1750px 1414px #fff, 1584px 1233px #fff,
    1689px 1094px #fff, 1091px 792px #fff, 1973px 1573px #fff,
    1967px 1798px #fff, 658px 104px #fff, 1816px 1354px #fff, 1119px 409px #fff,
    1075px 1784px #fff, 1772px 1704px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;

  box-shadow: 691px 1178px #fff, 1754px 197px #fff, 742px 1380px #fff,
    1814px 602px #fff, 1927px 74px #fff, 509px 281px #fff, 1730px 1525px #fff,
    1147px 191px #fff, 925px 610px #fff, 849px 640px #fff, 1863px 1977px #fff,
    1166px 1969px #fff, 1750px 1721px #fff, 186px 469px #fff, 1656px 1937px #fff,
    264px 1617px #fff, 1452px 1879px #fff, 72px 1789px #fff, 724px 527px #fff,
    271px 1601px #fff, 1867px 853px #fff, 1150px 1571px #fff, 358px 619px #fff,
    1498px 276px #fff, 1130px 451px #fff, 964px 840px #fff, 28px 565px #fff,
    1827px 913px #fff, 1689px 87px #fff, 792px 1900px #fff, 1401px 1088px #fff,
    235px 1440px #fff, 667px 1765px #fff, 1703px 1528px #fff, 1257px 1407px #fff,
    52px 23px #fff, 1569px 800px #fff, 687px 312px #fff, 1225px 326px #fff,
    1399px 647px #fff, 702px 1565px #fff, 1433px 44px #fff, 28px 687px #fff,
    356px 1824px #fff, 125px 897px #fff, 1970px 1623px #fff, 1811px 1959px #fff,
    1372px 442px #fff, 1850px 1318px #fff, 272px 623px #fff, 1321px 1676px #fff,
    201px 1874px #fff, 1706px 1938px #fff, 1622px 1265px #fff,
    1928px 1533px #fff, 1976px 1516px #fff, 1419px 1673px #fff, 242px 487px #fff,
    1489px 1254px #fff, 1063px 1934px #fff, 1249px 12px #fff, 971px 460px #fff,
    1387px 1062px #fff, 1758px 1538px #fff, 1847px 403px #fff,
    1368px 1032px #fff, 633px 1592px #fff, 483px 185px #fff, 5px 604px #fff,
    1676px 271px #fff, 1653px 1944px #fff, 1295px 958px #fff, 568px 604px #fff,
    146px 796px #fff, 405px 1640px #fff, 618px 1908px #fff, 23px 435px #fff,
    578px 971px #fff, 1412px 1468px #fff, 1453px 1241px #fff, 36px 1020px #fff,
    802px 302px #fff, 1077px 560px #fff, 1619px 1527px #fff, 1341px 1358px #fff,
    1993px 691px #fff, 1536px 55px #fff, 705px 959px #fff, 235px 18px #fff,
    1850px 823px #fff, 18px 1275px #fff, 193px 561px #fff, 125px 631px #fff,
    74px 1610px #fff, 4px 1736px #fff, 9px 980px #fff, 567px 850px #fff,
    1912px 263px #fff, 584px 540px #fff, 401px 87px #fff, 631px 510px #fff,
    335px 1695px #fff, 1401px 189px #fff, 1889px 1801px #fff, 1795px 179px #fff,
    1316px 1325px #fff, 1597px 410px #fff, 382px 522px #fff, 1974px 738px #fff,
    996px 739px #fff, 574px 592px #fff, 1698px 50px #fff, 840px 1492px #fff,
    1047px 1319px #fff, 1048px 1051px #fff, 1308px 174px #fff, 1068px 61px #fff,
    508px 1160px #fff, 1088px 39px #fff, 1932px 1593px #fff, 169px 12px #fff,
    481px 1281px #fff, 1909px 1667px #fff, 1473px 529px #fff, 1132px 89px #fff,
    770px 841px #fff, 918px 1723px #fff, 1781px 1097px #fff, 1812px 1215px #fff,
    1829px 435px #fff, 1959px 1587px #fff, 1747px 586px #fff, 253px 1972px #fff,
    1964px 1669px #fff, 583px 1077px #fff, 313px 1278px #fff, 1373px 1331px #fff,
    1045px 669px #fff, 956px 1820px #fff, 100px 684px #fff, 1895px 665px #fff,
    145px 575px #fff, 350px 1706px #fff, 851px 557px #fff, 1699px 30px #fff,
    13px 868px #fff, 1963px 1047px #fff, 312px 504px #fff, 1157px 420px #fff,
    926px 165px #fff, 1587px 830px #fff, 268px 965px #fff, 21px 950px #fff,
    237px 1792px #fff, 1448px 1290px #fff, 1208px 1861px #fff, 1038px 320px #fff,
    655px 321px #fff, 1847px 170px #fff, 246px 718px #fff, 1347px 1459px #fff,
    166px 1592px #fff, 1326px 87px #fff, 203px 663px #fff, 705px 1598px #fff,
    1037px 1048px #fff, 967px 1496px #fff, 796px 1277px #fff, 1435px 619px #fff,
    55px 1853px #fff, 1957px 1278px #fff, 1550px 1920px #fff, 692px 235px #fff,
    7px 1663px #fff, 1553px 1599px #fff, 1234px 1460px #fff, 1681px 340px #fff,
    1589px 443px #fff, 1076px 1705px #fff, 1100px 307px #fff, 536px 1545px #fff,
    1630px 1688px #fff, 468px 733px #fff, 105px 246px #fff, 517px 991px #fff,
    714px 894px #fff, 23px 1796px #fff, 152px 1958px #fff, 1186px 1189px #fff,
    1324px 1429px #fff, 1678px 158px #fff, 1956px 1729px #fff, 670px 1905px #fff,
    746px 764px #fff, 637px 1731px #fff, 1768px 375px #fff, 480px 1166px #fff,
    1075px 224px #fff, 1962px 1868px #fff, 500px 212px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";

  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 691px 1178px #fff, 1754px 197px #fff, 742px 1380px #fff,
    1814px 602px #fff, 1927px 74px #fff, 509px 281px #fff, 1730px 1525px #fff,
    1147px 191px #fff, 925px 610px #fff, 849px 640px #fff, 1863px 1977px #fff,
    1166px 1969px #fff, 1750px 1721px #fff, 186px 469px #fff, 1656px 1937px #fff,
    264px 1617px #fff, 1452px 1879px #fff, 72px 1789px #fff, 724px 527px #fff,
    271px 1601px #fff, 1867px 853px #fff, 1150px 1571px #fff, 358px 619px #fff,
    1498px 276px #fff, 1130px 451px #fff, 964px 840px #fff, 28px 565px #fff,
    1827px 913px #fff, 1689px 87px #fff, 792px 1900px #fff, 1401px 1088px #fff,
    235px 1440px #fff, 667px 1765px #fff, 1703px 1528px #fff, 1257px 1407px #fff,
    52px 23px #fff, 1569px 800px #fff, 687px 312px #fff, 1225px 326px #fff,
    1399px 647px #fff, 702px 1565px #fff, 1433px 44px #fff, 28px 687px #fff,
    356px 1824px #fff, 125px 897px #fff, 1970px 1623px #fff, 1811px 1959px #fff,
    1372px 442px #fff, 1850px 1318px #fff, 272px 623px #fff, 1321px 1676px #fff,
    201px 1874px #fff, 1706px 1938px #fff, 1622px 1265px #fff,
    1928px 1533px #fff, 1976px 1516px #fff, 1419px 1673px #fff, 242px 487px #fff,
    1489px 1254px #fff, 1063px 1934px #fff, 1249px 12px #fff, 971px 460px #fff,
    1387px 1062px #fff, 1758px 1538px #fff, 1847px 403px #fff,
    1368px 1032px #fff, 633px 1592px #fff, 483px 185px #fff, 5px 604px #fff,
    1676px 271px #fff, 1653px 1944px #fff, 1295px 958px #fff, 568px 604px #fff,
    146px 796px #fff, 405px 1640px #fff, 618px 1908px #fff, 23px 435px #fff,
    578px 971px #fff, 1412px 1468px #fff, 1453px 1241px #fff, 36px 1020px #fff,
    802px 302px #fff, 1077px 560px #fff, 1619px 1527px #fff, 1341px 1358px #fff,
    1993px 691px #fff, 1536px 55px #fff, 705px 959px #fff, 235px 18px #fff,
    1850px 823px #fff, 18px 1275px #fff, 193px 561px #fff, 125px 631px #fff,
    74px 1610px #fff, 4px 1736px #fff, 9px 980px #fff, 567px 850px #fff,
    1912px 263px #fff, 584px 540px #fff, 401px 87px #fff, 631px 510px #fff,
    335px 1695px #fff, 1401px 189px #fff, 1889px 1801px #fff, 1795px 179px #fff,
    1316px 1325px #fff, 1597px 410px #fff, 382px 522px #fff, 1974px 738px #fff,
    996px 739px #fff, 574px 592px #fff, 1698px 50px #fff, 840px 1492px #fff,
    1047px 1319px #fff, 1048px 1051px #fff, 1308px 174px #fff, 1068px 61px #fff,
    508px 1160px #fff, 1088px 39px #fff, 1932px 1593px #fff, 169px 12px #fff,
    481px 1281px #fff, 1909px 1667px #fff, 1473px 529px #fff, 1132px 89px #fff,
    770px 841px #fff, 918px 1723px #fff, 1781px 1097px #fff, 1812px 1215px #fff,
    1829px 435px #fff, 1959px 1587px #fff, 1747px 586px #fff, 253px 1972px #fff,
    1964px 1669px #fff, 583px 1077px #fff, 313px 1278px #fff, 1373px 1331px #fff,
    1045px 669px #fff, 956px 1820px #fff, 100px 684px #fff, 1895px 665px #fff,
    145px 575px #fff, 350px 1706px #fff, 851px 557px #fff, 1699px 30px #fff,
    13px 868px #fff, 1963px 1047px #fff, 312px 504px #fff, 1157px 420px #fff,
    926px 165px #fff, 1587px 830px #fff, 268px 965px #fff, 21px 950px #fff,
    237px 1792px #fff, 1448px 1290px #fff, 1208px 1861px #fff, 1038px 320px #fff,
    655px 321px #fff, 1847px 170px #fff, 246px 718px #fff, 1347px 1459px #fff,
    166px 1592px #fff, 1326px 87px #fff, 203px 663px #fff, 705px 1598px #fff,
    1037px 1048px #fff, 967px 1496px #fff, 796px 1277px #fff, 1435px 619px #fff,
    55px 1853px #fff, 1957px 1278px #fff, 1550px 1920px #fff, 692px 235px #fff,
    7px 1663px #fff, 1553px 1599px #fff, 1234px 1460px #fff, 1681px 340px #fff,
    1589px 443px #fff, 1076px 1705px #fff, 1100px 307px #fff, 536px 1545px #fff,
    1630px 1688px #fff, 468px 733px #fff, 105px 246px #fff, 517px 991px #fff,
    714px 894px #fff, 23px 1796px #fff, 152px 1958px #fff, 1186px 1189px #fff,
    1324px 1429px #fff, 1678px 158px #fff, 1956px 1729px #fff, 670px 1905px #fff,
    746px 764px #fff, 637px 1731px #fff, 1768px 375px #fff, 480px 1166px #fff,
    1075px 224px #fff, 1962px 1868px #fff, 500px 212px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 931px 27px #fff, 1064px 596px #fff, 1623px 748px #fff,
    466px 1603px #fff, 1145px 1052px #fff, 1436px 1807px #fff, 514px 172px #fff,
    1631px 1998px #fff, 948px 281px #fff, 788px 1939px #fff, 783px 1011px #fff,
    662px 786px #fff, 1298px 1234px #fff, 1732px 1062px #fff, 656px 455px #fff,
    689px 101px #fff, 1377px 1249px #fff, 682px 1243px #fff, 882px 457px #fff,
    1509px 683px #fff, 1797px 1396px #fff, 1837px 618px #fff, 848px 453px #fff,
    1523px 143px #fff, 35px 834px #fff, 1435px 1615px #fff, 338px 601px #fff,
    1928px 1261px #fff, 1179px 1810px #fff, 1402px 1094px #fff,
    1714px 1904px #fff, 420px 489px #fff, 1026px 246px #fff, 1855px 318px #fff,
    429px 1579px #fff, 1276px 816px #fff, 397px 1258px #fff, 303px 1148px #fff,
    29px 506px #fff, 1129px 1629px #fff, 782px 1502px #fff, 775px 1210px #fff,
    1432px 1606px #fff, 681px 283px #fff, 1145px 119px #fff, 1015px 162px #fff,
    989px 785px #fff, 1907px 1616px #fff, 1533px 1878px #fff, 275px 942px #fff,
    978px 866px #fff, 1579px 786px #fff, 503px 165px #fff, 892px 1098px #fff,
    1729px 14px #fff, 1182px 112px #fff, 951px 1873px #fff, 323px 1638px #fff,
    1465px 613px #fff, 1994px 424px #fff, 1248px 126px #fff, 1367px 644px #fff,
    228px 1704px #fff, 1675px 738px #fff, 210px 589px #fff, 777px 1204px #fff,
    37px 1787px #fff, 1604px 844px #fff, 461px 269px #fff, 477px 1433px #fff,
    1101px 666px #fff, 817px 1208px #fff, 1612px 1138px #fff, 1137px 995px #fff,
    79px 1977px #fff, 1299px 836px #fff, 1379px 1049px #fff, 1747px 830px #fff,
    907px 1393px #fff, 377px 1568px #fff, 582px 593px #fff, 1840px 1590px #fff,
    1684px 849px #fff, 1518px 519px #fff, 67px 1247px #fff, 79px 1830px #fff,
    1506px 15px #fff, 383px 861px #fff, 1138px 1130px #fff, 1528px 1146px #fff,
    1188px 406px #fff, 1600px 1525px #fff, 1510px 1340px #fff, 538px 824px #fff,
    1832px 914px #fff, 79px 1795px #fff, 1198px 1851px #fff, 1305px 34px #fff,
    509px 1417px #fff, 90px 1318px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";

  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 931px 27px #fff, 1064px 596px #fff, 1623px 748px #fff,
    466px 1603px #fff, 1145px 1052px #fff, 1436px 1807px #fff, 514px 172px #fff,
    1631px 1998px #fff, 948px 281px #fff, 788px 1939px #fff, 783px 1011px #fff,
    662px 786px #fff, 1298px 1234px #fff, 1732px 1062px #fff, 656px 455px #fff,
    689px 101px #fff, 1377px 1249px #fff, 682px 1243px #fff, 882px 457px #fff,
    1509px 683px #fff, 1797px 1396px #fff, 1837px 618px #fff, 848px 453px #fff,
    1523px 143px #fff, 35px 834px #fff, 1435px 1615px #fff, 338px 601px #fff,
    1928px 1261px #fff, 1179px 1810px #fff, 1402px 1094px #fff,
    1714px 1904px #fff, 420px 489px #fff, 1026px 246px #fff, 1855px 318px #fff,
    429px 1579px #fff, 1276px 816px #fff, 397px 1258px #fff, 303px 1148px #fff,
    29px 506px #fff, 1129px 1629px #fff, 782px 1502px #fff, 775px 1210px #fff,
    1432px 1606px #fff, 681px 283px #fff, 1145px 119px #fff, 1015px 162px #fff,
    989px 785px #fff, 1907px 1616px #fff, 1533px 1878px #fff, 275px 942px #fff,
    978px 866px #fff, 1579px 786px #fff, 503px 165px #fff, 892px 1098px #fff,
    1729px 14px #fff, 1182px 112px #fff, 951px 1873px #fff, 323px 1638px #fff,
    1465px 613px #fff, 1994px 424px #fff, 1248px 126px #fff, 1367px 644px #fff,
    228px 1704px #fff, 1675px 738px #fff, 210px 589px #fff, 777px 1204px #fff,
    37px 1787px #fff, 1604px 844px #fff, 461px 269px #fff, 477px 1433px #fff,
    1101px 666px #fff, 817px 1208px #fff, 1612px 1138px #fff, 1137px 995px #fff,
    79px 1977px #fff, 1299px 836px #fff, 1379px 1049px #fff, 1747px 830px #fff,
    907px 1393px #fff, 377px 1568px #fff, 582px 593px #fff, 1840px 1590px #fff,
    1684px 849px #fff, 1518px 519px #fff, 67px 1247px #fff, 79px 1830px #fff,
    1506px 15px #fff, 383px 861px #fff, 1138px 1130px #fff, 1528px 1146px #fff,
    1188px 406px #fff, 1600px 1525px #fff, 1510px 1340px #fff, 538px 824px #fff,
    1832px 914px #fff, 79px 1795px #fff, 1198px 1851px #fff, 1305px 34px #fff,
    509px 1417px #fff, 90px 1318px #fff;
}

#title {
  top: 50%;
  left: 0;
  right: 0;

  font-family: "lato", sans-serif;
  font-weight: 300;

  margin-top: -60px;
  padding-bottom: 0;
  
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
